CriminalsSearcher.Site/Service References/SearchService/SearchService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CriminalsSearcher.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CriminalsSearcher.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SearchParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="DriverLicenseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FatherName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaximumAge" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumHeight" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumWeight" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MinimumAge" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MinimumHeight" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MinimumWeight" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MotherName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassportNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchParameters" nillable="true" type="tns:SearchParameters" />
</xs:schema>